<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @racer.name %>
</p>

<p>
  <strong>Height:</strong>
  <%= @racer.height %>
</p>

<%= link_to 'Edit', edit_racer_path(@racer) %> |
<%= link_to 'Back', racers_path %>
